.main-ingresar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.login-principal {
    flex: 65%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 40px;
}

.login, .registro {
    display: flex;
    flex-direction: column;
}

.login label, .login input{
    display: block;
    width: 100%;
}

.login h3 {
    margin-bottom: 10px;
}

.registro h3 {
    margin-top: 30px;
}

.login label{
    font-family: 'ubuntu';
    color: white;
}

.login input,
button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
}

.login a {
    color: red;
}

.imagen-ingresar {
    flex: 35%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.imagen-ingresar img {
    max-width: 100%;
    height: auto; 
}

.login .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}

.button-group button {
    width: 48%;
    padding: 10px;
    margin: 0;
}