.acerca-de {
    display: flex;
    flex-direction: row;
}

.contenedor-izq-img {
    flex: 50%;
    display: flex;
}

.contenedor-izq-img img {
    width: 100%;
}

.contenedor-derecho-info {
    flex: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.contenedor-derecho-info h3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
}

ul li i {
    color: red; 
    margin-right: 10px; 
}