<section>
    <div class="container-principal-home">
        <div class="container-mayor-izquierda">
            <img src="assets/img/joystick2.png" alt="home gaming fever">
        </div>
        <div class="container-menor-derecha">
            <h3>Bienvenidos a <br> Gaming Fever!</h3>
            <p>
                Esta pagina se diseñó para el trabajo practico correspondiente a la materia
                Laboratorio IV de la Universidad Tecnológica Nacional de Argentina (UTN).
            </p>
            <p>
                En este sitio web podrás encontrar los 4 juegos que programé. Te invito a
                scrollear en esta pagina para poder encontrar los mismos.
            </p>
            <p>
                Espero te diviertas jugando con los juegos que cree usando Angular!
            </p>

            <button class="btn btn-danger mt-4" routerLink="/quien-soy">CONOCEME</button>
        </div>
    </div>
</section>

<section>
    <div class="banner">
        <h2>JUEGOS</h2>
    </div>
</section>

<section>
    @if(usuarioLogueadoGeneral)
    {
    <div class="grid-inicio row gy-3 mt-3 mb-3">
        <div class="col-md-3">
            <div class="card" routerLink="/juegos/ahorcado">
                <img src="assets/img/ahorcado.png" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">AHORCADO</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" routerLink="/juegos/mayor-o-menor">
                <img src="assets/img/mayor-menor.png" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">MAYOR O MENOR</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/img/preguntados.png" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">PREGUNTADOS</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/img/name-song.png" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">NAME THE SONG</h5>
                </div>
            </div>
        </div>
    </div>
    }
    @else {
    <div class="grid-inicio row gy-3 mt-3 mb-3">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/img/login.jpg" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">AHORCADO</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/img/login.jpg" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">MAYOR O MENOR</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/img/login.jpg" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">PREGUNTADOS</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="assets/img/login.jpg" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">NAME THE SONG</h5>
                </div>
            </div>
        </div>
    </div>
    }
</section>