<section>
    <div class="banner">
        <h2>INGRESAR</h2>
    </div>
</section>

<section>
    <div class="main-ingresar">
        <div class="login-principal">
            <div class="login">
                <h3>Ingresa a tu cuenta</h3>

                <form id="login-form">
                    <label for="username">USUARIO</label>
                    <input type="text" id="username" name="username" required [(ngModel)]="usernameLogin">
                    <label for="password">CONTRASEÑA</label>
                    <input type="password" id="password" name="password" required [(ngModel)]="passLogin">

                    <div class="button-group">
                        <button type="submit" class="btn btn-danger" (click)="login()">INGRESAR</button>
                        <button class="btn btn-danger" (click)="autocompletar()">AUTOCOMPLETAR</button>
                    </div>
                </form>
            </div>

            <div class="registro">
                <h3>No tenes cuenta?</h3>
                <button class="btn btn-danger mt-3" routerLink="/registro">REGISTRARSE</button>
            </div>
        </div>

        <div class="imagen-ingresar">
            <img src="assets/img/terminator.jpg" alt="terminator login">
        </div>
    </div>
</section>