<section>
    <div class="banner">
        <h2>AHORCADO</h2>
    </div>
</section>

<section class="ahorcado-main">
    <div class="horca-palabra">
        <div class="horca">
            @switch (cantidadErrores) {
            @case (0) {
            <img src="/assets/img/ahorcado0.png">
            }
            @case (1) {
            <img src="/assets/img/ahorcado1.png">
            }
            @case (2) {
            <img src="/assets/img/ahorcado2.png">
            }
            @case (3) {
            <img src="/assets/img/ahorcado3.png">
            }
            @case (4) {
            <img src="/assets/img/ahorcado4.png">
            }
            @case (5) {
            <img src="/assets/img/ahorcado5.png">
            }
            @case (6) {
            <img src="/assets/img/ahorcado6.png">
            }
            }
        </div>
        <div class="puntaje-palabra">
            <div class="puntaje">
                <p>PUNTAJE: {{puntaje}}</p>
            </div>
            <div class="palabra">
                <p>{{palabraExhibida}}</p>
            </div>
        </div>
    </div>

    <div class="letras">
        <div class="elige">
            <h3>ELIGE UNA LETRA</h3>
        </div>

        <div class="row justify-content-center">
            <div class="col-auto" *ngFor="let letra of letras.slice(0, 14)">
                @if (letrasDescubiertas.includes(letra))
                {
                <button type="button" class="btn btn-success m-2 letra-btn" (click)="comprobarExistenciaLetra(letra)">
                    {{letra}}
                </button>
                }
                @else {
                <button type="button" class="btn btn-danger m-2 letra-btn" (click)="comprobarExistenciaLetra(letra)">
                    {{letra}}
                </button>
                }
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-auto" *ngFor="let letra of letras.slice(14)">
                @if (letrasDescubiertas.includes(letra))
                {
                <button type="button" class="btn btn-success m-2 letra-btn" (click)="comprobarExistenciaLetra(letra)">
                    {{letra}}
                </button>
                }
                @else {
                <button type="button" class="btn btn-danger m-2 letra-btn" (click)="comprobarExistenciaLetra(letra)">
                    {{letra}}
                </button>
                }
            </div>
        </div>
    </div>
</section>

<div class="overlay" *ngIf="cantidadErrores === 6">
    <div class="game-over">
        <h2>GAME OVER</h2>
        <p>Tu puntaje: {{puntaje}}</p>
        <button class="btn btn-danger m-1 p-3" (click)="volverAIntentar(true)">VOLVER A INTENTAR</button>
    </div>
</div>

<div class="overlay" *ngIf="victoria">
    <div class="game-over">
        <h2>HAS GANADO!</h2>
        <p>Tu puntaje: {{puntaje}}</p>
        <button class="btn btn-danger m-1 p-3" (click)="volverAIntentar(false)">SEGUIR JUGANDO</button>
    </div>
</div>