<section>
    <div class="banner">
        <h2>REGISTRO</h2>
    </div>
</section>

<section>
    <div class="main-ingresar">
        <div class="registro-principal">
            <div class="registro">
                <h3>Registra tu nueva cuenta</h3>

                <form id="registro-form">
                    <label for="username">USUARIO (Dirección de email)</label>
                    <input type="text" id="username" name="username" required [(ngModel)]="nuevoUsername">

                    <label for="password">CONTRASEÑA (Debe contener al menos 6 caracteres)</label>
                    <div class="password-container">
                        <input type="password" id="password" name="password" required [(ngModel)]="nuevaPass" [type]="mostrarContrasenia ? 'text' : 'password'">
                        <i class="eye-icon" (click)="toggleMostrarContrasenia()">
                            <span *ngIf="mostrarContrasenia">👁️</span>
                            <span *ngIf="!mostrarContrasenia">🙈</span>
                        </i>
                    </div>

                    <button type="submit" class="btn btn-danger" (click)="registrarUsuario()">REGISTRAR</button>
                </form>
            </div>
        </div>

        <div class="imagen-ingresar">
            <img src="assets/img/terminator.jpg" alt="terminator login">
        </div>
    </div>
</section>