<section>
    <div class="banner">
        <h2>ACERCA DE</h2>
    </div>
</section>

<section>
    <div class="acerca-de">
        <div class="contenedor-izq-img">
            <img src="assets/img/perfil2.jpg">
        </div>
        <div class="contenedor-derecho-info">
            <h3>
                Marian N Aquino S
            </h3>

            <ul>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Nombre Completo:</b> Mariano Nicolas Aquino</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Numero de Legajo:</b> 114392</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Edad:</b> 27 años</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Carrera:</b> Tecnicatura Universitaria en Programacion (UTN)</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Materia:</b> Laboratorio IV</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Tecnología utilizada:</b> Angular</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Ubicacion:</b> Buenos Aires, Argentina</p>
                </li>
            </ul>

            <h3>
                NAME THE SONG
            </h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium expedita sint laborum commodi. Delectus magni labore consequuntur. Non, quis magnam. Corporis natus in quia nulla hic deserunt a! Non, voluptatum?
                Excepturi pariatur dicta architecto totam. Iste quidem odit neque animi iure dignissimos aut expedita earum et est eos, voluptates veritatis, ipsam aperiam ullam distinctio iusto fugit esse maiores sequi officia.
                Corporis quos eius quasi quidem illo in tenetur aspernatur velit, inventore sed vero incidunt sequi dolores sit odit at, distinctio fuga? Optio pariatur cupiditate sapiente autem, illo amet ad minus.
                Doloremque reprehenderit pariatur sunt dolor aperiam tempore incidunt velit hic saepe nemo quia qui, adipisci tenetur quisquam, harum, deserunt corporis ipsum. Velit, debitis perspiciatis quibusdam iusto eius tempora ut esse.
                Commodi, id aspernatur odit hic maiores repudiandae laudantium in impedit praesentium deleniti. Magni fugit ipsa officia repellendus voluptatum! Vero laudantium aliquam nemo hic. Magnam est laboriosam, fugit rerum ipsam amet.
                Voluptatum ad modi odio blanditiis fugiat quasi aliquam provident, omnis nostrum illo voluptatem quas facilis eveniet nulla unde sed rem repellat, beatae tenetur obcaecati! Totam vel ratione numquam beatae incidunt?
            </p>
        </div>
    </div>
</section>