<section>
    <div class="banner">
        <h2>ACERCA DE</h2>
    </div>
</section>

<section>
    <div class="acerca-de">
        <div class="contenedor-izq-img">
            <img src="assets/img/perfil2.jpg">
        </div>
        <div class="contenedor-derecho-info">
            <h3>
                Marian N Aquino S
            </h3>

            <ul>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Nombre Completo:</b> Mariano Nicolas Aquino</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Numero de Legajo:</b> 114392</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Edad:</b> 27 años</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Carrera:</b> Tecnicatura Universitaria en Programacion (UTN)</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Materia:</b> Laboratorio IV</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Tecnología utilizada:</b> Angular</p>
                </li>
                <li>
                    <i class="fas fa-gamepad"></i>
                    <p><b>Ubicacion:</b> Buenos Aires, Argentina</p>
                </li>
            </ul>

            <h3>
                NAME THE METALLICA SONG
            </h3>

            <p>
                "Name the Metallica Song" es una experiencia interactiva que pone a prueba el conocimiento musical de los participantes sobre la banda de thrash metal 'Metallica'. En este juego, los jugadores deben adivinar el título de una canción de Metallica a partir de fragmentos de audio. A medida que avanza el juego, se presentan varias opciones de respuesta, lo que añade un elemento de competencia y estrategia.
                <br><br>
                Los jugadores cuentan con un número limitado de vidas y un sistema de puntuación que recompensa las respuestas correctas, incentivando así un mayor esfuerzo y atención. La dinámica del juego también incluye un temporizador, lo que aumenta la emoción y el desafío. Además, el juego ofrece una variedad de álbumes de Metallica, lo que permite a los jugadores explorar la discografía de la banda y familiarizarse con sus temas más conocidos y menos populares. Con una mezcla de música, trivia y competencia, el juego no solo entretiene, sino que también educa a los participantes sobre la rica historia musical de Metallica, haciéndolo ideal tanto para los fanáticos de la banda como para aquellos que desean aprender más sobre su legado.
            </p>
                
        </div>
    </div>
</section>